<div class="bg-primary flex flex-col min-h-screen">
  <app-navigation-bar></app-navigation-bar>
  

  <div class="flex-1 flex flex-col justify-center items-center py-4 px-2">
    <div class="max-w-xl w-full">

      <div class="w-full py-2 focus-within:outline-[2px] focus-within:transition focus-within:outline-tertiary px-4 flex justify-between bg-quaternary  rounded-full shadow-xl ring-1 ring-gray-900/5">
        <input type="text" placeholder="Pesquisar" class="outline-none text-tertiary flex-1 basis-1 mr-2 bg-transparent caret-secondary font-mediumd text-[1rem]" />
  
        <div class="py-2 px-2 bg-secondary rounded-full cursor-pointer hover:bg-secondary-hover">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.7826 15.7826L21 21" stroke="#0D0E26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9.26087 17.5217C13.8232 17.5217 17.5217 13.8232 17.5217 9.26087C17.5217 4.69852 13.8232 1 9.26087 1C4.69852 1 1 4.69852 1 9.26087C1 13.8232 4.69852 17.5217 9.26087 17.5217Z" stroke="#0D0E26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
      </div>
  
    </div>
  </div>

</div>
